---
layout: default
---

<div class="posts">
<h1>Categorias:</h1>
  {% for category in site.categories %}
  <span>
  {% capture category_name %}{{ category_name | remove:','  }}{% endcapture %}
  </span>
  {% endfor %}</div>

  {% for post in site.posts %} {% if post.categories contains 'senior' %}{% else %}
  <article class="post">
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    <div class="categories {% for category in post.categories %} {{ category | remove:',' }} {% endfor %}">
      {% for category in post.categories %}<span>{{ category | remove:',' }}</span>{% endfor %}</div>
  </article>
  {% endif %} {% endfor %}
</div>