//
// VARIABLES
//

// Colors
$blue: #1976d2;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #f0f0f0;
$white: #ffffffd8;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

:root { 
  --main-text-color: #{$darkGray};
  --main-background-color: #{$lightGray};
  --link-color: #{$blue};  
}
