<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar" aria-label="Home"><img src="{{ site.avatar }}" alt="avatar" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">
              {{ site.description }}
              <a id="theme-toggle" onclick="modeSwitcher()"></a>
            </p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/senior">Senior Path</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">{{ content }}</div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">{% include svg-icons.html %}</footer>
      </div>
    </div>

    {% include analytics.html %}

    <script>
      let systemInitiatedDark = window.matchMedia("(prefers-color-scheme: dark)");
      let theme = sessionStorage.getItem("theme");
      let themeToggle = document.getElementById("theme-toggle");
      const setAttribute = (selector, value) => document.documentElement.setAttribute(selector, value);
      const setClassToToggle = (clazz) => themeToggle.className = clazz;


      if (systemInitiatedDark.matches) {
        setClassToToggle('light-icon');
      } else {
        setClassToToggle('dark-icon');
      }

      function prefersColorTest(systemInitiatedDark) {
        if (systemInitiatedDark.matches) {
          setAttribute("data-theme", "dark");
          setClassToToggle('light-icon');
          sessionStorage.setItem("theme", "");
        } else {
          setAttribute("data-theme", "light");
          setClassToToggle('dark-icon');
          sessionStorage.setItem("theme", "");
        }
      }
      systemInitiatedDark.addListener(prefersColorTest);

      function modeSwitcher() {
        let theme = sessionStorage.getItem("theme");
        if (theme === "dark") {
          setAttribute("data-theme", "light");
          sessionStorage.setItem("theme", "light");
          setClassToToggle('dark-icon');
        } else if (theme === "light") {
          setAttribute("data-theme", "dark");
          sessionStorage.setItem("theme", "dark");
          setClassToToggle('light-icon');
        } else if (systemInitiatedDark.matches) {
          setAttribute("data-theme", "light");
          sessionStorage.setItem("theme", "light");
          setClassToToggle('dark-icon');
        } else {
          setAttribute("data-theme", "dark");
          sessionStorage.setItem("theme", "dark");
          setClassToToggle('light-icon');
        }
      }

      if (theme === "dark") {
        setAttribute("data-theme", "dark");
        sessionStorage.setItem("theme", "dark");
        setClassToToggle('light-icon');
      } else if (theme === "light") {
        setAttribute("data-theme", "light");
        sessionStorage.setItem("theme", "light");
        setClassToToggle('dark-icon');
      }
    </script>
  </body>
</html>
